@import '../styles'

body
  position: fixed

h1
  position: absolute
  top: 0
  left: 0

  margin: 0
  width: 100vw
  line-height: 100vh
  font-size: 10vw

  color: $color-light

canvas
  position: absolute
  top: 0
  left: 0

.vignette
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  box-shadow: inset 0 0 25vmin 10vmin $color-dark
