#contact-form
  position: relative

  .contact-form
    position: absolute

    top: 0
    left: 50vw
    transform: translate(-50%, -80%)

    width: 60vw
    height: 60vh

    padding: 1% 5%

    color: $color-dark
    background-color: $color-light

    border-radius: 5px


    $shadow-color: rgba(0, 0, 0, .16)

    transition: box-shadow .25s
    box-shadow: 0 8px 20px 0 $shadow-color, 0 8px 40px 0 $shadow-color

    &:hover
      box-shadow: 0 32px 68px 0 $shadow-color, 0 24px 80px 0 $shadow-color


    input
      $unfocused-color: lighten($color-dark, 50)
      display: block
      width: 100%

      border: 0
      border-radius: 0
      outline: 0
      border-bottom: .1em solid $unfocused-color

      transition: border .25s

      font-size: 1em
      padding: .5em
      margin-top: 0
      margin-bottom: .75em

      &:focus,
      &:hover
        border-bottom: .1em solid $color-dark

      &::placeholder
        color: $unfocused-color
        transition: color .25s

      &:focus::placeholder
          color: $color-dark


    div
      display: flex

      input
        display: inline
        margin-right: .75em
        flex: 1

        &:last-child
          margin-right: 0


    button
      display: block

      width: 20%
      padding: .6em
      margin: 2em auto 0
      border: 0

      background-color: $color-dark
      color: $color-light

      font-size: 1em
      text-transform: uppercase
      text-align: center

      transition: transform .25s

      transform: translateZ(0)

      &:hover
        transform: translateZ(0) scale(1.05)

      &:active
        transform: translateZ(0) scale(.95)
