@import spinner

.contact
  position: relative

  #contact-form
    position: absolute

    top: 0
    left: 50vw
    transform: translate(-50%, -80%)

    width: 60vw
    height: 60vh

    overflow: hidden

    padding: 1% 5%

    color: $color-dark
    background-color: $color-light

    border-radius: 5px


    $shadow-color: rgba(0, 0, 0, .16)

    transition: box-shadow .25s, color .5s, background-color .5s
    box-shadow: 0 8px 20px 0 $shadow-color, 0 8px 40px 0 $shadow-color

    &:hover
      box-shadow: 0 32px 68px 0 $shadow-color, 0 24px 80px 0 $shadow-color


    input
      $unfocused-color: lighten($color-dark, 50)
      display: block
      width: 100%

      border: 0
      border-radius: 0
      outline: 0
      border-bottom: .1em solid $unfocused-color

      transition: border .25s, background-color .25s, color .25s

      font-size: 1em
      padding: .5em
      margin-top: 0
      margin-bottom: .75em

      &:focus,
      &:hover
        border-bottom: .1em solid $color-dark

      &::placeholder
        color: $unfocused-color
        transition: color .25s

      &:focus::placeholder
          color: $color-dark

      &.invalid
        $invalid-form-background: #ffebee
        $invalid-form-text: #ff4436

        border-bottom: .1em solid $invalid-form-text
        color: $invalid-form-text
        background-color: $invalid-form-background

        &:focus,
        &:hover
          border-bottom: .1em solid $invalid-form-text

        &::placeholder
          color: $invalid-form-text

        &:focus::placeholder
            color: $invalid-form-text


    div.inline-inputs
      display: flex

      input
        display: inline
        margin-right: .75em
        flex: 1

        &:last-child
          margin-right: 0


    button
      display: block

      padding: 1em 1.4em
      margin: 2em auto 0
      border: 0

      background-color: $color-dark
      color: $color-light

      font-size: .9em
      text-transform: uppercase
      text-align: center
      letter-spacing: .3em

      transition: transform .25s

      transform: translateZ(0)

      &:hover
        transform: translateZ(0) scale(1.05)

      &:active
        transform: translateZ(0) scale(.95)

    .button-container.shake
      animation: shake .5s


    .normal-form-content
      transition: opacity .25s

    .spinner
      $size: 3.2vw
      width: $size
      height: $size
      position: absolute
      top: calc(50% - #{ $size / 2 })
      left: calc(50% - #{ $size / 2 })

      opacity: 0
      transition: .5s opacity

    .result-background
      background-color: $color-light

      width: 80vmax
      height: 80vmax

      position: absolute
      top: 50%
      left: 50%

      border-radius: 50%

      opacity: 0
      pointer-events: none

      transform: translate(-50%, -50%) scale(.02)
      transition: .5s opacity, .5s transform cubic-bezier(.77, 0, .175, 1)

    .success,
    .failure
      position: absolute
      top: 30vh
      left: 0

      width: 100%

      pointer-events: none
      opacity: 0
      transition: .5s opacity .4s

      transform: translateY(-50%)

      h4
        font-family: 'Open Sans', sans-serif
        font-weight: 300
        letter-spacing: .5em

    // All states after button has been pressed
    &.loading,
    &.completed
      background-color: lighten($color-dark, 8)

      .normal-form-content
        opacity: 0

      .result-background
        opacity: 1

    // While the POST request is in progress
    &.loading
      color: $color-light

      .spinner
        opacity: 1

    // After the POST request has either succeeded or failed
    &.completed
      .normal-form-content
        display: none

      .result-background
        transform: translate(-50%, -50%) scale(1)

    &.succeeded
      .success
        opacity: 1
        pointer-events: auto

    &.failed
      .failure
        opacity: 1
        pointer-events: auto

@keyframes shake
  0%
    transform: translateX(0)

  20%
    transform: translateX(-5px)

  40%
    transform: translateX(5px)

  60%
    transform: translateX(-5px)

  100%
    transform: translateX(0)
