footer
  width: 100vw
  color: $color-light

  font-family: 'Open Sans'

  margin-top: 5vh

  @media (max-width: 500px)
    padding: 5vw


  .left
    float: left
    margin: 10vh 0 10vh 10vw

  .footer-logo
    float: right
    font-size: calc(4vw + 1em)
    font-family: 'Charis'
    top: 0
    transform: translateY(-2.5%)
    margin: 10vh 10vw 10vh 0
