@import fonts

$color-dark: #000
$color-light: #fff

*,
*::before,
*::after
  box-sizing: border-box

body
  background-color: $color-dark
  color: $color-light
  margin: 0

@import top-bar


#content-main
  display: none

  &.visible
    display: block


.headline
  font-family: 'Montserrat'
  font-weight: bold
  text-transform: uppercase
  font-size: 7vw
  letter-spacing: .1vw
  text-align: center

  display: block
  width: 100vw

  position: fixed
  left: 0
  top: 50vh
  z-index: 1
  transform: translateY(-50%)

  @media (orientation: portrait) and (max-width: 420px)
    font-size: 25vw
    text-align: left
    width: auto
    left: 50vw
    transform: translate(-50%, -50%)

  opacity: 0
  transition: 1.5s opacity

  &.visible
    opacity: 1


section.white-section
  position: absolute

  top: 60vh
  z-index: 2

  // Pre-build properties: blurry, transparent, and not transformed into view.
  transform: translateY(40vh)
  opacity: 0
  filter: blur(20px)

  // During the build, the clouds will slide up, fade in, and sharpen all at the same time
  transition: transform 3s, opacity 4s, filter 4s

  &.visible
    opacity: 1
    transform: none
    filter: none

  canvas
    width: 100%
    height: 80vh

    margin-bottom: -5px

    pointer-events: none
    -webkit-touch-callout: none

    // This looks like shit in portrait, so hide it
    @media (orientation: portrait)
      display: none


  div.mist-gradient
    position: absolute
    display: block
    top: 30vh
    height: 50vh
    width: 100vw
    background: linear-gradient(transparent, $color-light)

    @media (orientation: portrait)
      position: static
      height: 10vh


  div.white
    background-color: $color-light
    width: 100vw
    height: 100vh


  @media (orientation: portrait)
    top: 90vh
