#map
  position: relative
  width: 100vw
  height: 66vh

  // Temportary
  background-color: lighten($color-dark, 75)

  canvas
    width: 100%
    height: 100%

  // Make contact form almost completely transparent when map is hovered
  &:hover ~ .contact
    opacity: .1
