.spinner
  border: .3vw solid transparent
  border-top: .3vw solid $color-light
  border-radius: 50%

  animation: 1s spin infinite linear

  pointer-events: none

  @media (orientation: portrait) and (max-width: 420px)
    border-width: 1vw

@keyframes spin
  from
    transform: rotate(0)

  to
    transform: rotate(360deg)
