//- Animated logo (intro animation)
#animated-logo
  .corners-container
    .corners-anim-container
      #corners
        .row
          .corner.top.left
            div
          .corner.top.right
            div
        .row
          .corner.bottom.left
            div
          .corner.bottom.right
            div
  .letter-main A
